# Slack Credentials (Socket Mode)
SLACK_APP_TOKEN=xapp-1-...
SLACK_BOT_TOKEN=xoxb-...

# API Keys (Free Tier Providers)
GROQ_API_KEY=gsk_...
GEMINI_API_KEY=AQ...

# Gateway Configs
SLACK_ALLOW_ALL_USERS=true
